body {
  background-color: #185564;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 4px;
    background-color: #454545;
    border-radius: 4px;
}

table {
    border: 5px solid orange;
    border-collapse: collapse;
    background-color: white;
}

td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
#flag {
    background-size: 100%;
    background-image: url(http://www.clker.com/cliparts/e/6/a/9/1216829321427973809red_flag.svg.med.png);
}
.tree {
    background-size: 100%;
    background-image: url(http://clipart-library.com/img/1751853.jpg);
}
#water {
    background-size: 100%;
    background-image: url(http://cdn01.wallconvert.com/_media/wallpapers_1920x1200/1/1/digital-sea-6567.jpg);
}
#robo {
    background-size: 100%;
    background-image: url(https://publicdomainvectors.org/photos/nicubunu_Comic_characters_Older.png);
}
td.up {
    transform: rotate(0);
}

td.down {
    transform: rotate(180deg);
}

td.left {
    transform: rotate(-90deg);
}

td.right {
    transform: rotate(90deg);
}

td.at-flag {
    background-color: green;
}

button {
  margin: 8px 4px;
  padding: 8px;
  background-color: #c08036;
  color: white;
  border: none;
  border-radius: 4px;
}
